       p {
        
            color: blue;
        }
        p{font-size: 24px;}
        h1 {
            color : rgb(255, 0, 98);
        }
        h2{
            font-size: 28px;
        }
        p{
            font-style: italic;
        }
        h3{
            font-style:italic;
            color:darkblue
        }

      